# --------------------------------------
# Confluent Cloud connection information
# --------------------------------------
sasl.mechanism=PLAIN
security.protocol=SASL_SSL
basic.auth.credentials.source=USER_INFO
replication.factor=3
## producer settings
acks=all
retries=0
key.serializer=org.apache.kafka.common.serialization.StringSerializer
value.serializer=io.confluent.kafka.serializers.KafkaAvroSerializer

## consumer settings
group.id=test-payments
enable.auto.commit=true
auto.commit.interval.ms=1000
auto.offset.reset=earliest
specific.avro.reader=true
key.deserializer=org.apache.kafka.common.serialization.StringDeserializer
value.deserializer=io.confluent.kafka.serializers.KafkaAvroDeserializer
